* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    background-image: url('../assets/pasig\ city\ bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.index-layout, .landing-page-txts{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title1, .title2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .3em;
    text-align: center;
}

.title1 {
    font-size: 1.4em;
}
.title2 {
    font-size: 1.2em;
    color: rgb(197, 195, 191);
    margin-top: 1.1em;
}

.txts-wrapper, .bttn-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.txts-wrapper {
    margin-top: 5em;
    font-size: 1.3em;
}

.bttn-link {
    margin-top: 15em;
}

a {
    text-decoration: none;
    color: white;
}

.bttn-link {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #c3c3c3;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.bttn-link:hover,
.bttn-link:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.bttn-link:active {
  background: var(--color);
  color: #fff;
}